/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 5, 2018, 7:06:12 PM
    Author     : 00140418
*/

#cabecera{
    font-family: Forte;
    font-size: 45px;
    color: #0B3B17;
    text-align: center;
}
ul li{
    list-style-type: none;
    display:inline;
    font-size: 14px;
    font-weight: bold;
    font-family: Forte;
    background: #7B9B75;
    padding: 15px;
    border-radius: 17px;
}

#menu{
    text-align: center;
}

img{
    border-radius: 15px;
}
#cuerpo{
    text-align: center;
    font-family: Haettenschweiler;
    font-size: 20px;
    color: #0B3B17;
}
#pie{
    background: #7B9B75;
    text-align: center;
    font-weight: bold;
    
}
form{
    margin: 0 auto;
    width:700px;
    background: #7B9B75;
    padding: 15px;
    border-radius: 10px;
   
}
h1{
    text-align: center;
}
form div{
    margin-bottom: 5px;
    
}
label{
    font-family: Forte;
    width: 100px;
    text-align: right;
    display: inline;
}
input{
    width: 200px;
}
textArea{
    width: 400px; 
    vertical-align: middle;
}
